MEDUSA_ADMIN_ONBOARDING_TYPE=default

STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:9000

REDIS_URL=redis://localhost:6379

JWT_SECRET=change-me
COOKIE_SECRET=change-me

DATABASE_URL=postgres://user:password@localhost/db-name